parameters:
	ignoreErrors:
		-
			message: "#^Anonymous function has an unused use \\$js_url\\.$#"
			count: 1
			path: src/Admin/ReactHandler.php

		-
			message: "#^Constant STATNIVE_PATH not found\\.$#"
			count: 1
			path: src/Admin/ReactHandler.php

		-
			message: "#^Action callback returns bool but should not return anything\\.$#"
			count: 1
			path: src/Cron/CronRegistrar.php

		-
			message: "#^Match arm is unreachable because previous comparison is always true\\.$#"
			count: 1
			path: src/Feature/ConditionTagEvaluator.php

		-
			message: "#^Constant STATNIVE_PATH not found\\.$#"
			count: 3
			path: src/Frontend/FrontendHandler.php

		-
			message: "#^Method Statnive\\\\Privacy\\\\DataArchiver\\:\\:get_encryption_key\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: src/Privacy/DataArchiver.php
