parameters:
    level: 6
    paths:
        - src
        - statnive.php
        - uninstall.php
    scanDirectories:
        - vendor
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    ignoreErrors: []

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon
