parameters:
    level: 6
    paths:
        - src
        - statnive.php
        - uninstall.php
    scanDirectories:
        - vendor
    ignoreErrors: []

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
